<div class="about">
    <div class="heading">
 <h3><b> {{name}}</b></h3>  
    </div>
    <div class="data">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fug Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fug Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fug Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fug Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fug Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fug Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolor officiis suscipit soluta dolorem est iure, eos culpa vitae totam beatae nam cumque consequatur laborum esse voluptas, quod maxime eveniet. Soluta commodi nihil recusandae?
    </div>
</div>
