<div class="">
    <div class="heading">
 <h3><b> {{name}}</b></h3>  
    </div>
    <div class="data">
       A portfolio is a collection of financial investments like stocks, bonds, commodities, cash, and cash equivalents, including closed-end funds and exchange traded funds (ETFs). People generally believe that stocks, bonds, and cash comprise the core of a portfolio. Though this is often the case, it does not need to be the rule. A portfolio may contain a wide range of assets including real estate, art, and private investments.    </div>
</div>
